@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body,
#__next {
  height: 100%;
}

.inner-html a {
  @apply cursor-pointer text-red-300;
}

select {
  background-position: right 4px center !important;
  background-size: 24px 24px !important;
}
